#app {
  background-color: #151515;;
}

.d-flex.container-fluid {  
  padding-left: 0;
  padding-right: 0;
}

.sidebar-area {
  height: calc(100vh - 100px);
}
.editor-wrapper {
  background-color: #151515;
  position: relative;
}

.editor-container {
  margin: 0 auto;
  width: 100%;
  height: calc(100vh - 100px);
  border: 2px solid #222;
}

.editor-wrapper .tui-image-editor-container .tui-image-editor-help-menu {
  height: 548px; /* 506px (menu) + 42px (botão personalizado) */
}

.tui-image-editor-container .tui-image-editor-header-logo > img, 
.tui-image-editor-container .tui-image-editor-controls-logo > img{
  display: none;
}

.tui-image-editor-container .tui-image-editor-menu > .tui-image-editor-item, 
.tui-image-editor-container .tui-image-editor-help-menu > .tui-image-editor-item {
  margin-top: 5px;
}

footer {
  margin-top: 4rem;
  border-top: 1px solid #3c3c3c;
}