#app {
  background-color: #f4f7fc;
}

.d-flex.container-fluid {  
  padding-left: 0;
  padding-right: 0;
}

.sidebar-area {
  height: calc(100vh - 100px);
}
.editor-wrapper {
  background-color: #f4f7fc;
  position: relative;
}

.editor-container {
  margin: 0 auto;
  width: 100%;
  height: calc(100vh - 100px);
  border: 2px solid #222;
}

.editor-wrapper .tui-image-editor-container .tui-image-editor-help-menu {
  height: 548px; /* 506px (menu) + 42px (botão personalizado) */
}

.tui-image-editor-container .tui-image-editor-header-logo > img, 
.tui-image-editor-container .tui-image-editor-controls-logo > img{
  display: none;
}

.tui-image-editor-container .tui-image-editor-menu > .tui-image-editor-item, 
.tui-image-editor-container .tui-image-editor-help-menu > .tui-image-editor-item {
  margin-top: 5px;
}

.tui-image-editor {
  border: 2px solid #3c3c3c;
  padding: 2px !important;
}

footer {
  margin-top: 4rem;
  border-top: 1px solid #3c3c3c;
}

.extract-wraper {
  background-color: transparent;
}

.extract-wraper_col {
  background-color: #fff;
  border: 1px solid #e2e3e5;
}

.extract-wraper_col:first-child {
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .extract-wraper_col:first-child {
    margin-right: 0;
  }
}